$word-break: break-word;
$font: 'Source Sans Pro', sans-serif;
$font-size: 16px;

.NoteTitle {
	font-family: $font;
	font-size: $font-size;
	word-break: $word-break;
	line-height: 1.5em;
	font-weight: 700;
}