@import '../../mixins/fluidContainer.module.scss';

$min_width: 320px;
$max_width: 1200px;

$min_containerWidth: 270px;
$max_containerWidth: 650px;

.FormContainer {
	width: $min_containerWidth;
	height: 400px;
	min-height: 320px;
	margin: 0 auto;

	@media screen and (min-width: 20em) {
		@include fluid-container($min_width, $max_width, $min_containerWidth, $max_containerWidth);
	}

	@media screen and (min-width: 60em) {
		width: $max_containerWidth;
	}

	@media screen and (min-height: 60em) {
		width: 500px;
	}

	@media screen and (max-height: 30em) {
		margin-top: 80px;
	}
}