@import '../../mixins/fluidType.module.scss';

$min_width: 320px;
$max_width: 1200px;
$min_ButtonsFont-size: 18px;
$max_ButtonsFont-size: 24px;

.ButtonsContainer > p {
	cursor: default;
}

.ButtonsContainer > p,.LoginBtn,.RegisterBtn {
	font-family: 'Raleway', sans-serif;
	font-size: $min_ButtonsFont-size;
	color: rgb(64,64,64);
	font-weight: 700;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}

	@media screen and (min-width: 20em) {
		@include fluid-type($min_width, $max_width, $min_ButtonsFont-size, $max_ButtonsFont-size);
	}

	@media screen and (min-width: 60em) {
		font-size: $max_ButtonsFont-size;
	}
}

.LoginBtn,.RegisterBtn {
	text-decoration: none;
}