$word-break: break-word;
$font: 'Source Sans Pro', sans-serif;
$font-size: 16px;

.NoteTitle, .NoteText {
	font-family: $font;
	font-size: $font-size;
	word-break: $word-break;
	line-height: 1.5em;
}

.NoteTitle {
	font-weight: 700;
}

.ButtonContainer {
	height: 28px;

	.MoreBtn {
		width: 20px;
		height: 28px;
		outline: none;
		position: absolute;
		right: 0;
		-webkit-tap-highlight-color: transparent;
		border: none;
		background: transparent;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}
}