$color: rgb(64,64,64);

.PersonsForm {
	& input[type='submit'] {
		display: none;
	}
}

.PersonsInputs {
	border: none;
	border-bottom: 1px solid $color;
	color: $color;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	padding: 0.5em 0;
	outline: none;
	margin: 0 0 0.5em 0;
	display: block;

	&:focus {
		outline: none;
	}

	&:nth-child(2) {
		margin: 0 0 1.5em 0;
	}
}

.PersonsDisplayContainer {
	background: #EBEBEB;
	max-width: 350px;
	margin: 0 auto 1em auto;

	.PersonsCircle {
		background: #FFFFFF;
		border: none;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		margin: 1em auto;

		div {
			width: 20px;
			height: 20px;
		}
	}

	.PersonsDataContainer {
		width: 200px;
		margin: 0 auto;

		h3, h4 {
			word-break: break-word;
		}

		h3 {
			margin: 0;
		}

		h4 {
			margin: 0.5em 0 0 0;
		}
	}
}

.AcceptBtn, .RemoveBtn {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	margin-bottom: 0.5em;

	&:focus {
		outline: none;
	}
}