$transition: all 0.4s cubic-bezier(.14,.05,.19,1.02);

.ModalBackground {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1;
	-webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	        transform: translateX(0%);
	background: rgba(0,0,0,0.3);
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;

	.ModalBody {
		background: #FFF;
		border-radius: 2px;
		height: 75vh;
		max-height: 450px;
		padding: 1em;
		margin-top: 88px;
		width: 40%;
		min-width: 280px;
		-ms-grid-column-align: center;
		    justify-self: center;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	    position: relative;
		z-index: 1;

		.ModalContent {
			overflow-y: auto;
			height: auto;
			text-align: center;

			.ModalCloseBtn {
				position: absolute;
				top: 0;
				right: 0;
				outline: none;
				-webkit-tap-highlight-color: transparent;
				cursor: pointer;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.navActive {
	@media screen and (max-width: 559px) {
		-webkit-transform: translateX(240px);
		    -ms-transform: translateX(240px);
		        transform: translateX(240px);
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}

	@media screen and (min-width: 560px) {
		width: calc(100% - 240px);
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}
}