$bg-background: #FFF;
$username-fontsize: 24px;
$transition: transform 0.6s cubic-bezier(.14,.05,.19,1.02);

.SideBar {
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-110%);
	    -ms-transform: translateX(-110%);
	        transform: translateX(-110%);
	z-index: 997;
	background: $bg-background;
	-webkit-box-shadow: 0.5px 0px 6px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0.5px 0px 6px 0px rgba(0,0,0,0.3);box-shadow: 0.5px 0px 6px 0px rgba(0,0,0,0.3);
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;

	.CloseBtnContainer {
		width: calc(100% - 17px);
		height: 88px;
		top: 0;
		left: 0;
		background: $bg-background;
	}

	.SideBarContainer {
		width: 240px;
	    height: 100%;
	    overflow-y: auto;
	    padding-top: calc(88px + 1.5em);
	    -moz-appearance: none !important;

	    .userName {
			font-size: $username-fontsize;
			cursor: default;
		}
	}
}

.SideBarActive {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}