.NavButtons {
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	

	&:focus {
		outline: none;
	}
}

.MenuBtn {
	margin: 0 23px 0 23px;
	z-index: 998;
}

.SearchBtn {
	margin: 0 40px 0 30px;
	z-index: 997;
}