$transition: all 0.4s cubic-bezier(.14,.05,.19,1.02);

.Dashboard {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin: 0 0 0 auto;
	-webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	        transform: translateX(0%);
	padding: 88px 1em 1em 1em;
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

.navActive {
	@media screen and (max-width: 559px) {
		-webkit-transform: translateX(240px);
		    -ms-transform: translateX(240px);
		        transform: translateX(240px);
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}

	@media screen and (min-width: 560px) {
		width: calc(100% - 240px);
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}
}