.ButtonsContainer {
	height: 28px;

	.MoreBtn {
		width: 20px;
		height: 28px;
		outline: none;
		position: absolute;
		right: 0;
		-webkit-tap-highlight-color: transparent;
		border: none;
		background: transparent;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}
}