$word-break: break-word;
$font: 'Source Sans Pro', sans-serif;
$font-size: 16px;

.Item {
	font-family: $font;
	font-size: $font-size;
	word-break: $word-break;
	line-height: 1.5em;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}