$color: rgb(64,64,64);
$button-font: 'Source Sans Pro', sans-serif;
$button-fontsize: 18px;

.LogoutBtn {
	margin: 1em 0 1em 1em;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	color: $color;
	font-family: $button-font;
	font-size: $button-fontsize;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}